.tabs {
	width: 100%;
    text-transform: uppercase;
       
}
.tabs li {
	float:  left;
	margin: 0;
	overflow: hidden;
    
    
}
.tabs li a {
	color: #fff;
	text-transform: uppercase;
	padding: 10px 15px;
	border-right: 1px solid #fff;
    
    
}

.tabs li a:hover {
	background-color: #00b3ff;

}

.logo{
    width: 54px;
    height: 54px;
    border-radius: 27px;
    background-color: rgba(255,255,255,0.03137254901960784);
    border: 1px solid #3b5968;
}

